---
import Card from "@components/Card.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";

const products = await getCollection("products");
---

<BaseLayout title="Home">
  <div class="wrapper">
    <div class="products">
      {products.map((p) => <Card product={p} />)}
    </div>
  </div>
</BaseLayout>

<style>
  .wrapper {
    max-inline-size: 960px;
    padding-inline: 1rem;
    margin-inline: auto;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
