---
import ProductCards from "@components/ProductCards.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="wrapper">
    <ProductCards />
  </div>
</BaseLayout>

<style>
  .wrapper {
    padding-inline: 8px;
  }
</style>
