---
import Card from "@components/Card.astro";
import ProductCards from "@components/ProductCards.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="wrapper">
    <Card />
  </div>
</BaseLayout>

<style>
  .wrapper {
    max-inline-size: 960px;
    padding-inline: 1rem;
    margin-inline: auto;
    height: 100%;
  }
</style>
