---

---

<article>
  <div class="header">
    <h2>Some Product</h2>
  </div>

  <div class="content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta non, sint
      quod dicta et numquam ratione cupiditate quasi incidunt reprehenderit.
    </p>
  </div>
</article>

<style>
  h2 {
    font-size: 1.25rem;
  }
  article {
    background: var(--background-50);
    max-inline-size: 375px;
    border-radius: 10px;
    box-shadow: 8px 8px 0 black;
  }

  .header {
    background: var(--primary-600);
    color: var(--primary-50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 1rem;
  }

  .content {
    padding: 1rem;
  }
</style>
