---

---

<footer>
  <p>Copyright &copy; 2025 Girlfriend Brand</p>
</footer>

<style>
  footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--background-60);
    padding-block: 1rem;
  }
</style>
