---

---

<footer>
  <p>Copyright &copy; 2025 Girlfriend Brand</p>
</footer>

<style>
  footer {
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--text-100);
    padding-block: 1rem;
    /* border: 1px solid white; */
  }

  p {
    letter-spacing: 15%;
  }
</style>
