---
import Nav from "@components/Nav.astro";
---

<header>
  <h1><a href="/">girlfriend brand</a></h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<style></style>
