---
import Nav from "@components/Nav.astro";
---

<header>
  <h1><a href="/">girlfriend brand</a></h1>
  <Nav />
</header>

<style>
  header {
    background-color: var(--background-950);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
  }

  a {
    text-decoration: none;
    color: var(--primary-50);
  }

  a:hover {
    color: var(--accent-300);
  }
</style>
