---

---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products">About</a></li>
    <li><a href="/products">Contact</a></li>
  </ul>
</nav>

<style>
  a {
    text-decoration: none;
    color: var(--text-50);
    font-weight: 500;
    /* text-transform: uppercase; */
  }

  a:hover {
    color: var(--accent-300);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
</style>
