---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  product: CollectionEntry<"products">;
}

const { product } = Astro.props;

const { title, category, cover, price_usd, slug } = product.data;
---

<article class="card">
  <a href={"/products/" + slug}>
    <Image class="card__image" src={cover} alt={title} layout="constrained" />

    <div>
      <h2 class="card__title">{title}</h2>
      <p class="card__price">&dollar;{price_usd}</p>
    </div>
  </a>
</article>

<style>
  a {
    color: unset;
    text-decoration: none;
  }

  .card {
    display: grid;
    gap: 1rem;
    border-radius: var(--radius-2);
    /* align-items: center;
    justify-content: center;
    max-width: 350px; */
    /* border: 1px solid; */
    max-width: 300px;
    background: darkcyan;
  }

  .card__image {
    border-top-left-radius: var(--radius-2);
    border-top-right-radius: var(--radius-2);
  }

  .card__title {
    font-size: var(--font-size-0);
    font-weight: 400;
    text-transform: uppercase;
  }

  .card__price {
    font-size: var(--font-size-0);
    font-weight: 600;
  }
</style>
