---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const products = await getCollection("products");

  return products.map((product) => ({
    params: { slug: product.data.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
console.log(slug);
const product = await getEntry("products", slug);
---

<BaseLayout>
  <h2>{product.data.title}</h2>
  <p></p>
</BaseLayout>
