---
const { title } = Astro.props;
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";
import { Font } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Font cssVariable="--ff-raleway" preload />
    <Font cssVariable="--ff-pacifico" preload />
    <title>{title} | Girlfriend Brand</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
